@import "./components/mixins";
/*how to use mixins@include tablet {}*/
/*how to use extends@extend .class-name;*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 10pt;
  background-color: $white;
  .block {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    height: 150px;
    width: 100vw;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

    #user-input {
      height: 50px;
      background-color: $white;
      border-radius: 10px 0px 0px 10px;
      border: none;
    }
    #btn {
      height: 50px;
      width: 50px;
      border-radius: 0px 10px 10px 0px;
      border: none;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.493);
    }
  }
  ul {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 80%;
      min-width: 250px;
      height: 75px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      list-style: none;
      margin: 50px 0px 0px 0px;
      position: relative;
      display: flex;

      .todoText {
        position: absolute;
        top: 7.5%;
        left: 2.5%;
        height: 50px;
        width: 65%;
        min-width: 165px;
        word-wrap: break-word;
        @include tablet {
          font-size: 1.3rem;
        }
      }

      .klar {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: 25px;
        background-color: blueviolet;
        border-radius: 5px;
        border: none;
        color: $black;
        background-color: $white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        @include tablet {
          width: 40px;
          height: 40px;
          right: 10%;
        }
      }

      .taBort {
        position: absolute;
        right: 2.5%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: 25px;
        background-color: blueviolet;
        border-radius: 5px;
        border: none;
        color: $white;
        background-color: $black;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        @include tablet {
          width: 40px;
          height: 40px;
        }
      }
    }
    .done {
      opacity: 50%;
    }
  }
}
